@import "tailwindcss";

@layer base{
    .img{
        overflow: hidden;
    }

    img,
    picture,
    svg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@theme {
    /* colors */
    --color-primary: #3569E4;
    --color-secondary: #6750A4;
    --color-purple: #7900E3; 
    --color-blue: #0565D3;
    --color-light-gray: #EDEDED;

    /* gradients */
    --background-image-main: linear-gradient(135deg, #4776E6 0%, #8E54E9 100%);

    /* background-images */
--background-image-card-bg: url('../assets/imgs/background.svg');

    /* shadows */
    --shadow-main: 0 6px 4px 0 rgba(0,0,0,0.25); 
    --shadow-secondary: 0 4px 4px 0 rgba(0,0,0,0.25);

         /*inset shadows  */
    --inset-shadow-main: inset -4px 0 4px 0 rgba(0,0,0,0.25), inset 4px -4px 4px 0 rgba(0,0,0,0.25);
}